
<!-- Footer -->
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Copyright &copy; <span id="spanYear">2019</span> <a href="https://sportzinteractive.net/">Sportz Interactive</a>. All rights reserved.
            </div>

        </div>
    </div>
</section>
<!-- Footer -->