@model Gaming.Quiz.Admin.Models.DataPopulationModel
@{
    ViewData["Title"] = "Data Population";
}


<form id="dataPopulationForm" action="@String.Concat(ViewBag.BasePath, "DataPopulation")" method="post" enctype="multipart/form-data">
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">DATA POPULATION</h4>
                </div>
            </div>

            @await Component.InvokeAsync("Message", new { component = ViewBag?.MessageType, message = ViewBag?.MessageText })

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="dataTables_wrapper form-inline" role="grid">
                                <table class="table table-striped table-bordered table-hover dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Asset</th>
                                            <th class="text-center">Input</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">Import Data</td>
                                            <td class="text-center">
                                                <input type="file" asp-for="file" />
                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-info" onclick="return submitAlert();" name="process" value="Upload">Populate</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">Verify Data</td>
                                            <td class="text-center">
                                                <input type="text" asp-for="QMId" placeholder="*MasterId" class="form-control" />
                                                <input type="text" asp-for="SportId" placeholder="*SportsId" class="form-control" />
                                                <input type="text" asp-for="CatgId" placeholder="*CategoryId" class="form-control" />
                                                <input type="text" asp-for="Date" placeholder="*Date" class="form-control" />

                                            </td>
                                            <td class="text-center">
                                                <button type="submit" class="btn btn-warning" onclick="return submitAlert();" name="process" value="verifyquedayget">Download</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">Sample Data</td>
                                            <td class="text-center">
                                            </td>
                                            <td class="text-center">
                                                <a href="https://gamingdemo-uefa-quiz.sportz.io/feeds/questions/Reskinned_Sample.xlsx" target="_blank">DOWNLOAD</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
        </div>
    </div>
</form>