<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">

<link rel="icon" type="image/x-icon" href="/en/uclfantasy/static-assets/images/favicon.ico">
<link rel="stylesheet" href="/en/uclfantasy/static-assets/css/style.css?v=1" >


<link rel="preload" href="/en/uclfantasy/static-assets/css/style.css?v=1" as="style">
<link rel="preload" href="https://gaming-pre.uefa.com/en/uclfantasy/uefa-css" as="style">
<link rel="preload" href="https://www.uefa.com/CompiledAssets/UefaCom/css/fonts/ucl.css" as="style">
<link rel="preload" href="/webcomponents-bundle.js" as="script">
<link rel="preload" href="/custom-elements-es5-adapter.js" as="script">
<link rel="preload" href="/webcomponent/index.js" as="script">
<link rel="preload" href="https://idpassets-pre.uefa.com/idp.js" as="script">
<link rel="preload" href="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" as="script">
<link rel="preload" href="https://gaming-pre.uefa.com/en/uclfantasy/static-assets/fonts/champions-light.woff2" as="font" crossorigin>

<script src="/webcomponents-bundle.js"></script>
<script src="/custom-elements-es5-adapter.js"></script>
<script src="/webcomponent/index.js"></script>

<script src="\en\uclfantasy\uefa-js" type="text/javascript"></script>