<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="thumb" content="{{shareurl}}">
    <meta property="og:image" content="{{shareurl}}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />
    <meta property="og:site_name" content="UCL Fantasy" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="UCL Fantasy" />
    <meta property="og:description" content="Here are my selections for UCL Fantasy 2019-20. Make your selections today!" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="UCL Fantasy">
    <meta name="twitter:description" content="Here are my selections for UCL Fantasy 2019-20. Make your selections today!">
    <meta name="twitter:image" content="{{shareurl}}">
    <script type="text/javascript">
        window.location.href = '{{siteurl}}'</script>
</head>
<body>
</body>
</html>